* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica,
    Segoe UI, Arial, Roboto, "PingFang SC", miui, "Hiragino Sans GB",
    "Microsoft Yahei", sans-serif;
}
body {
  font-size: 14px;
  background-color: #f3f3f4;
  color: #16162e;
  min-width: 1280px;
  word-break: break-word;
  font-weight: 400;
  overflow-x: hidden;
}
::-webkit-resizer,
::-webkit-scrollbar-corner,
::-webkit-scrollbar-button,
::-webkit-scrollbar-track {
  display: none;
}
::-webkit-scrollbar {
  width: 14px;
  height: 14px;
  background-color: transparent;
}
::-webkit-resizer,
::-webkit-scrollbar-corner,
::-webkit-scrollbar-button,
::-webkit-scrollbar-track {
  display: none;
}
::-webkit-resizer,
::-webkit-scrollbar-corner,
::-webkit-scrollbar-button,
::-webkit-scrollbar-track {
  display: none;
}
::-webkit-scrollbar-thumb {
  border-radius: 999rem;
  background-color: #c5c5cb;
  border: 5px solid transparent;
  background-clip: content-box;
}
::-webkit-resizer,
::-webkit-scrollbar-corner,
::-webkit-scrollbar-button,
::-webkit-scrollbar-track {
  display: none;
}
::-webkit-scrollbar-track-piece {
  background-color: transparent;
}
